{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1 class=" w3-animate-zoom text-center">Edit Marks</h1><br>
<form action="{% url 'academic:save_marks' %}" method="post">
  {% csrf_token %}
    <table class="table table-striped">
      <input type="hidden" name="class_id" value="{{class_id}}">
      <input type="hidden" name="exam_id" value="{{exam_id}}">
      <input type="hidden" name="subject_id" value="{{subject_id}}">
          <thead>
            <tr>
              <th class="w3-animate-bottom">Student name</th>
              <th class="w3-animate-bottom">Obtained Marks</th>
            </tr>
          </thead>
          <tbody>
            {% for i in students_marked %}
            <tr>
              <td class="w3-animate-bottom">{{i.student.first_name}}</td>
              <td class="w3-animate-bottom">
                <input type="number" name="{{i.student.username}}" value="{{i.marks_obtained}}">
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <input type="submit" value="Save marks" class="btn btn-primary">
</form>
</div>
{% endblock %}
