{% extends "base.html" %}
{% block content %}
<form  method="post">
  {% csrf_token %}
    <table class="table table-striped">
      <input type="hidden" name="class_id" value="{{class_id}}">
      <input type="hidden" name="attendence_id" value="{{attendence_id}}">
          <thead>
            <tr>
              <th>Student name</th>
              <th>Attendence Status</th>
            </tr>
          </thead>
          <tbody>
            {% for i in sclass.students.all %}
            <tr>
              <td>{{i.first_name}}</td>
              <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-success active">
                      <input type="radio" name="{{ i.username }}" id="option1" autocomplete="off" value="present" checked> Present
                  </label>
                  <label class="btn btn-outline-danger">
                      <input type="radio" name="{{ i.username }}" id="option2" autocomplete="off" value="absent"> Absent
                  </label>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <input type="submit" value="Mark Attendence" class="btn btn-primary">
</form>
{% endblock %}
