{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="text-center w3-animate-zoom">Entering marks for {{sclass}}</h1><br>
  <table class="table w3-animate-bottom table-responsive">
    <thead>
      <tr>
      <th scope="col">Exam Type</th>
      <th scope="col">Mark</th>
      </tr>
    </thead>
    <tbody>
      {% for i,j in test_dict.items %}
      <tr>
        <td>{{i}}</td>
        <td><a href="{% url 'academic:enter_marks' subject_id=subject_id class_id=class_id exam_id=j %}" class="btn btn-primary btn-small">Click Here</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h4 class="w3-animate-bottom">Previously Marked</h4><br>
  <table class="table w3-animate-bottom">
    <thead>
      <tr>
      <th scope="col">Exam Type</th>
      <th scope="col">View/Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for i in a %}
      <tr>
        <td>{{i.test_type.code}}</td>
        <td><a href="{% url 'academic:edit_marks' subject_id=i.subject_handler.id class_id=i.class_id.id exam_id=i.test_type.id test_id=i.id %}" class="btn btn-primary btn-small">Click Here</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'academic:teacher_subject' %}"  class="btn btn-info w3-animate-bottom">Back to Subjects</a>
</div>

{% endblock %}
