{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class=" w3-animate-bottom">Subjects Handled by {{user}}</h1><br><br>
  {% for i in subject %}
  <b class=" w3-animate-bottom">Subject</b><span class=w3-animate-bottom>: {{i.subject}}</span><br>
  <b class=" w3-animate-bottom">Class </b><span class="w3-animate-bottom">: {{i.sub_class_id}}</span><br><br>
  <a href="{% url 'academic:view_class' id=i.sub_class_id.id  %}" class="btn btn-primary btn-sm  w3-animate-bottom">View Class</a>

  <br><br><br>
  {% endfor %}

</div>
{% endblock %}
