{% extends "base.html" %}
{% block content %}
<h1>CLASS: {{sclass}}</h1>
<b>Subjects under this class</b>
<ul>
  {% for i,j in a.items %}
    <li>{{i}}</li>
    {% if j.subject_id %}
      <a href="{% url 'academic:attendence_schedule' class_id=j.class_id subject_id=j.subject_id %}" class="btn btn-primary btn-sm">Mark Attendence</a>&emsp;
      <a href="#" class="btn btn-primary btn-sm">Enter Marks</a>
    {% endif %}
    <br><br>
{% endfor %}
</ul>
<b>List of all students</b>
<ol>
  {% for i in student_list %}
    <li>{{i.student.first_name}}</li>
  {% endfor %}
</ol>
<br>

{% endblock %}
